#ignored files
Test_from_scratch/data/ 
Test_from_scratch/results/CLR-2023-09-28-19-epochs-300
Test_from_scratch.zip
Test_from_scratch/results/ 
Test_from_scratch/results_standalone/
Test_from_scratch/finetune_results/  
Test_from_scratch/model_files_old/
Test_from_scratch/MA_Abgabe_Notebooks/
Test_from_scratch/Train_test_split/utils_dir/
Test_from_scratch/Train_test_split/
Test_from_scratchS/.ipynb_checkpoints/